table>
    <tr>
        <td><img src="{{site.baseurl}}/images/logo.png" height="60" title="Exam Notes" alt=""></td>
        <td><a href="{{site.baseurl}}/csa/unit1/">Primitive Types</a></td>
        <td><a href="{{site.baseurl}}/csa/unit2/">Using Objects</a></td>
        <td><a href="{{site.baseurl}}/csa/unit3/">Boolean expressions and if statements</a></td>
        <td><a href="{{site.baseurl}}/csa/unit4/">Iteratio</a></td>
        <td><a href="{{site.baseurl}}/csa/unit5/">Writing Classes</a></td>
        <td><a href="{{site.baseurl}}/csa/unit6/">Array</a></td>
        <td><a href="{{site.baseurl}}/csa/unit7/">ArrayList</a></td>
        <td><a href="{{site.baseurl}}/csa/unit8/">2d Arrays</a></td>
        <td><a href="{{site.baseurl}}/csa/unit9/">Inheritance</a></td>
        <td><a href="{{site.baseurl}}/csa/unit10/">Recursion</a></td>
    </tr>
</table>